<div class="project-title pb-6">
  <h1 class="title-project pr-5 "><%= @project.name %></h1>

  <%= link_to "Créer une nouvelle tâche", new_project_task_path(@project), class: "text-black text-[25px] bg-[#94F956] hover:bg-[#94F956] focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 pl-4" %>
</div>





<%= link_to "Tous", project_path(@project)%>
<%= link_to  "A faire", project_path(@project, status: "todo"), class: @status=="todo"? "bg-blue-100 text-white-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300" :""%>
<%= link_to  "En progression", project_path(@project, status: "in_progess"), class: @status=="todo"? "bg-blue-100 text-white-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300" :""%>
<%= link_to  "Terminé", project_path(@project, status: "done"), class: @status=="todo"? "bg-blue-100 text-white-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300" :""%>









<div class="task-index pt-8 w-99do">
  <div class="relative overflow-x-auto">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                  <th scope="col" class="px-6 py-3">
                      Tâches
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Description
                  </th>
                  <th scope="col" class="px-6 py-3 text-center">
                      Statut
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Echéance
                  </th>
              </tr>
          </thead>
          <tbody>

          <% if params[:focused_task] %>
          <div class="focused_task pb-10 mb-10">
            <div class="content-description">
              <div class="font-bold text-lg	"><%=  @focused_task.name  %></div>
              <div class="focused_task_description">
              <h2 class="mb-1">Description</h2>
              <div class="description-task border rounded p-2 ml-2 mr-2 text-slate-500	">
                <%=@focused_task.description%>
               <p><%= link_to "Modifier la tâche", edit_project_task_path(@project, @focused_task), class: "text-blue-500 hover:underline" %></p>

              </div>
              </div>
                <p><%= link_to "fermer", project_path(@project, focused_task: nil) %></p>
                <% end %>
            </div>
          </div>
            <% @tasks.each do |task| %>

              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 transition-all hover:bg-gray-200 hover:border" id="task">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                      <p><%= link_to task.name, project_path(@project, focused_task: task.id) %></p>
                  </th>
                  <td class="px-6 py-4 ">
                      <p><%= task.description %></p>
                  </td>
                  <td class="px-6 py-4 flex justify-center">
                    <% case task.status %>
                    <% when 'todo'%>
                        <p class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">
                          A faire
                        </p>
                    <% when 'in_progess'%>
                          <p class="bg-yellow-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300">En progression</p>
                    <% else %>
                          <p class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">"Terminé José 🚀"</p>
                    <% end %>
                  </td>
                  <td class="px-6 py-4">
                      <p><%= task.time_task.strftime("%d %b %Y à %Hh%M") if task.time_task.present? %></p>
                  </td>
              </tr>
              <% end %>
          </tbody>
      </table>
  </div>
</div>






<script>
  const tasks = document.querySelectorAll('#task')
  const popup = document.getElementById('popup');
  const closePopupButton = document.getElementById('close-popup');
  setTimeout(() => {
    console.log('test');
    popup.style.display = 'block';
  }, 1000);




  closePopupButton.addEventListener('click', () => {
  // Cache le popup
  popup.style.display = 'none';
});
</script>
