<div class="project-title pb-6">
  <h1 class="title-project pr-5 "><%= @project.name %></h1>

  <%= link_to "Créer une nouvelle tâche", new_project_task_path(@project), class: "text-black text-[25px] bg-[#94F956] hover:bg-[#94F956] focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 pl-4" %>
</div>


<div class="project-objectif rounded pt-2">
  <h2 class="font-bold pb-3 ml-3" > Description du projet: </h2>
  <div class="ml-3 pb-3"><%= @project.description %></div>
</div>



<div class="task-index pt-8 w-99do">
  <div class="relative overflow-x-auto">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                  <th scope="col" class="px-6 py-3">
                      Tâches
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Description
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Statut
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Timer
                  </th>
              </tr>
          </thead>
          <tbody>
            <% @tasks.each do |task| %>
              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                      <p><%= task.name %></p>
                  </th>
                  <td class="px-6 py-4">
                      <p><%= task.description %></p>
                  </td>
                  <td class="px-6 py-4">
                      <p><%= task.status %></p>
                  </td>
                  <td class="px-6 py-4">
                      <p><%= task.time_task %></p>
                  </td>
              </tr>
              <% end %>
          </tbody>
      </table>
  </div>
</div>
