<div class="project-title pb-6 flex items-center bg-black">
  <h1 class="title-project pr-5 p-2"><%= @project.name %></h1>
  <div class="mt-2">
  <%= link_to "Créer une nouvelle tâche", new_project_task_path(@project), class: "text-black text-[16px] bg-[#94F956] hover:bg-[#94F956] focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-8 py-2 me-2  focus:outline-none dark:focus:ring-[#94f956]pl-4 " %>
</div>

</div>




<div class="mt-9">
<%= link_to "Tous", project_path(@project)%>
<%= link_to  "A faire", project_path(@project, status: "todo"), class: @status=="todo"? "bg-blue-100 text-white-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300" :""%>
<%= link_to  "En progression", project_path(@project, status: "in_progess"), class: @status=="todo"? "bg-blue-100 text-white-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300" :""%>
<%= link_to  "Terminé", project_path(@project, status: "done"), class: @status=="todo"? "bg-blue-100 text-white-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300" :""%>
</div>



<% if params[:focused_task] %>
  <div id="popupfocus" class="focused_task p-3 pb-10 mb-10 absolute h-full w-[50%] bg-white z-50 right-0 top-0 translate-x-[600px] transition ease-in-out duration-300">
    <div class="content-description">
      <div class="font-bold text-lg mb-4 text-[50px]"> <%= @focused_task.name %></div>
      <div class="text-lg flex flex-row">
        <h2 class="font-bold">Echéance : </h2>
        <%= @focused_task.time_task %>
      </div>
      <div class="flex flex-row">
        <h2 class="font-bold">Statut: </h2>
        <p><%= @focused_task.status %></p>
      </div>

      <div class="focused_task_description">
        <h2 class="mb-1">Description</h2>
        <div class="description-task border rounded p-2 ml-2 mr-2 text-slate-500 mb-5" id="description">
          <%= form_with model: [@project, @focused_task], remote: true, html: { id: "edit-description-form" } do |f| %>
            <div id="description-text">
              <p><%= @focused_task.description %></p>
              <a href="#" id="edit-description" class="text-black hover:bg-[#94F956]">Modifier la description</a>
            </div>
            <div id="description-input" style="display:none;">
              <%= f.text_area :description, class: "w-full p-2 border rounded border-co focus:border-[#94F956]" %>
              <%= f.submit "Sauvegarder", class: "mt-2 text-white bg-[#94F956] hover:bg-[#94F956] font-medium rounded-lg px-4 py-2" %>
            </div>
          <% end %>
        </div>
      </div>

      <button id="closepopup" type="button" class="text-white bg-[#94f956] hover:bg-[#94f956] focus:ring-4 focus:[#94f956] font-medium rounded-lg text-sm px-5 py-2 me-2 mb-2">
        <i class="fa-solid fa-rectangle-xmark"></i>
      </button>
    </div>
  </div>
<% end %>







<div class="task-index pt-8 w-99do">
  <div class="relative overflow-x-auto">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                  <th scope="col" class="px-6 py-3">
                      Tâches
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Description
                  </th>
                  <th scope="col" class="px-6 py-3 text-center">
                      Statut
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Echéance
                  </th>
              </tr>
          </thead>
          <tbody>


            <% @tasks.each do |task| %>

              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 transition-all hover:bg-gray-200 hover:border ligne" >
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                      <p><%= link_to task.name, project_path(@project, focused_task: task.id) %></p>
                  </th>
                  <td class="px-6 py-4 ">
                      <p><%= task.description %></p>
                  </td>
                  <td class="px-6 py-4 flex justify-center">
                    <% case task.status %>
                    <% when 'todo'%>
                        <p class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">
                          A faire
                        </p>
                    <% when 'in_progess'%>
                          <p class="bg-yellow-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300">En progression</p>
                    <% else %>
                          <p class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">"Terminé José 🚀"</p>
                    <% end %>
                  </td>
                  <td class="px-6 py-4">
                      <p><%= task.time_task.strftime("%d %b %Y à %Hh%M") if task.time_task.present? %></p>
                  </td>
              </tr>
              <% end %>
          </tbody>
      </table>
  </div>
</div>
